<div class="row m-5">
    <div class="col-md-2"></div>
    <form class="form_border col-md-8">
        <div class="row register_label ">

            <div class="col-md-4">
              </div>

            <div class="col-md-4">
                <label for="first_name" class="form-label">Register As Patient</label>
            </div>


        </div>
        <div class="row m-5">

            <div class="col-md-6">
                <label for="first_name" class="form-label">First Name:</label>
                <input type="text" class="form-control" id="first_name">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4" class="form-label">Last Name:</label>
                <input type="text" class="form-control" id="last_name">
            </div>

        </div>
        <div class="row m-5">

            <div class="col-md-6">
                <label for="gender" class="form-label">Gender:</label>
                <select style="width:100%" id="gender">
                    <option value="male">Male</option>
                    <option value="female">Female</option>

                </select>
            </div>
            <div class="col-md-6">
                <label for="dob" class="form-label">DOB:</label>
                <input type="date" class="form-control" id="dob">
            </div>

        </div>
        <div class="row m-5">

            <div class="col-md-6">
                <label for="country" class="form-label">Country:</label>
                <select style="width:100%" id="country">
                    <option value="male">Ethiopia</option>
                    <option value="female">Sudan</option>

                </select>
            </div>
            <div class="col-md-6">
                <label for="phone_number" class="form-label">Phone Number:</label>
                <input type="text" class="form-control" id="phone_number">
            </div>

        </div>


        <div class="row m-5">

            <div class="col-md-6">
                <label for="country" class="form-label">Password:</label>
                <input type="password" class="form-control" id="password">

            </div>
            <div class="col-md-6">
                <label for="confirm_password" class="form-label">Confirm Password:</label>
                <input type="password" class="form-control" id="confirm_password">
            </div>

        </div>
        <div class="row m-5">
            <div class="col-md-4">
            </div>
            <div class="col-md-3">

                <button type="submit" class="btn btn-primary">Sign in</button>

            </div>

            <div class="col-md-4">
            </div>
        </div>
    </form>
    <div class="col-md-2"></div>
</div>
<style>

    .register_label {
        background: linear-gradient(to right, #56CCF2 0%, #2F80ED 100%);
        color:white;
        text-align:center;
        font-size:1.2em;
         
    }
    .form_border {
        border:solid 1px;
        border-block-color:aquamarine;
       
    }
    
</style>